.contact__container {
    padding: 5rem;
}

form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input, textarea {
    border-radius: 2rem;
    background: #d0ccd0;
    padding: 1rem;
    resize: none;
}

button {
    width: max-content;
    padding: 1rem;
    background: var(--color-bg-light);
    border-radius: 1rem;
    color: var(--color-white);
    transition: var(--transition);
}

button:hover{
    cursor: pointer;
    background: var(--color-hover);
}

.contact__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact__container-title {
    display: flex;
    gap: 0.5rem;
}

.contact__container-icon {
    margin-top: 6.5px;
    font-size: 1.5rem;
}

.contact__linkedin {
    background: var(--color-bg-light);
    width: 40%;
    height: 25vh;
    border-radius: 1rem;
    padding: 2rem;
    color: var(--color-white);
    margin-left: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    align-items: center;
}

.contact__linkedin h3 {
    font-weight: 400;
}

.contact__container a {
    font-size: 1.5rem;
}

.contact__container a:hover {
    color: var(--color-bg-variant);
}