.footer__container {
    background: var(--color-bg-variant);
    color: var(--color-white);
    height: 55vh;
    padding: 2rem;
    text-align: center;
}

.footer__container h1 {
    font-weight: 300;
}

.footer__links {
    margin: auto;
    width: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    font-size: 2rem;
    gap: 1rem;
    align-items: center;
}