@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --color-bg: #E5E7E9;
    --color-bg-variant: #73C6B6;
    --text-hover: #138D75;
    --text-primary: #21618C;

    --transition: all 400ms ease;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-bg);
}

.container {
    width: 75%;
    margin: 0 auto;
}

a:hover {
    color: var(--text-hover);
    transition: var(--transition);
}

a {
    text-decoration: none;
    color: var(--text-primary);
}